export(allAustralia)
export(allAustraliaKey)
export(alt_barproj)
export(downscaling_scatterplot)
export(plot_methbars)
export(plot_projbars)
export(plot_timeseries)
export(plotcolbar)
export(projbar)
import(geoutils)
import(mapdata)
import(maps)
